@charset "UTF-8";
/* CSS Document */

*{
	/*Removes Android 4.0+ blue selection*/
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	/*Removes Android 2.3.6- border selection*/
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	height: auto;
	font-family: helvetica, arial, sans-serif;
	outline: none;
}

html {
	height: 100%;
	background: #E6E5E5;
} 

body { 
	margin: 0;
	padding: 0;
	background: #ededed;
	height: 100%;
} 


li{
	list-style: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

label{
	display:none;
}

fieldset{
	border:none;
}

/*******************************************************************
CUSTOM FONTS
*******************************************************************/

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/*******************************************************************
LAYOUT
*******************************************************************/

div { 
	margin: 0;
	padding: 0;
	display: block;
}

.mb_page{
	margin : 0;
	padding : 0;
	display : none;
	width : 100%;
	height: 100%;
	display : block;
	background: #E6E5E5;
	
}

/*******************************************************************
COMERC
*******************************************************************/


.near_list{
	width: 100%;
	height: auto;
	
}

.near_list_element{
	width: 100%;
	height: 76px;
	position: relative;
	border-bottom: 1px solid rgb(220,220,245);
	border-top: 1px solid rgb(250,250,255);
}
.near_list_element:nth-child(odd){
	background: rgb(245,245,245);
}

.near_list_element:nth-child(even){
	background: rgb(250,250,255);
}

.near_li_img { 
	width: 54px;
	height: 54px;
	position: absolute;
	left: 12px;
	top: 8px;
	border-radius: 4px;
	border: 3px solid #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,.1);

} 

.near_li_img img{
	width: 54px;
	height: 54px;
	border-radius: 4px;
}

.near_li_name { 
	min-width: 60%;
	max-width: 70%;
	height: auto;
	position: absolute;
	left: 85px;
	top: 12px;
	font-size:19px;
	font-weight: bold;

} 

.near_li_description { 
	width: 60%;
	height: 17px;
	position: absolute;
	left: 85px;
	top: 43px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	font-weight: normal;

} 

.near_li_distance { 
	width: 17%;
	height: auto;
	position: absolute;
	right: 12px;
	top: 43px;
	text-align: right;
	font-size: 14px;
} 

/*******************************************************************
COMERC DETAIL
*******************************************************************/
.near_detail { 
	width: 100%;
	height: auto;
	background: #EDEDED;
} 

.detail_img { 
	width: 100%;
	height: 150px;
	position: relative;
	background: url('../imgs/detail_header.png') no-repeat center center;
	background-size: 100%;
	position: relative;
	z-index: 4;
} 
.detail_img::before { 
	content: '';
	width: 100%;
	height: 150px;
	position: relative;
	background: black;
	position: absolute;
	z-index: 1;
	opacity: .4;
} 

.detail_logo { 
	width: 200px;
	height: auto;
	position: absolute;
	background: transparent;
	left: 50%;
	top: 30px;
	margin-left: -100px;
	text-align: center;
	z-index: 2;
	
} 

.detail_logo_img { 
	width: 70px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	border-radius: 4px;
	border: 3px solid #fff;
	box-shadow: 0px 1px 7px rgba(0,0,0,1);
	margin-bottom: 8px;

} 

.detail_logo_img img { 
	width: 70px;
	height: 70px;
} 

.detail_logo_name { 
	width: auto;
	height: auto;
	color: white;
	font-size: 15pt;
	text-shadow: 0px 1px 7px rgba(0,0,0,.8);
} 

.detail_location { 
	width: 85%;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-top: 25px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	
} 

.detail_location_adress { 
	width: 100%;
	min-height: 25px;
	max-height: 35px;
	padding-top: 12px;
	text-align: center;
	line-height: 15px;
	color: #333;
	border-bottom: 1px solid #ccc;
	background-image: -webkit-linear-gradient(top, rgb(250,250,250), rgb(230,230,230));
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.detail_location_map { 
	width: 100%;
	height: 150px;
	background: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
} 
 

.link_comerc_btn { 
	width: 80%;
	height: 50px;
	position: relative;
	margin: 0 auto;
	margin-top: 35px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,.5);
	text-align: center;
	line-height: 50px;
	border: 1px solid rgba(1, 3, 50, .45);
	border-radius: 5px;
	background-image: -webkit-linear-gradient(top, rgb(78,163,251), rgb(3,97,153));
	box-shadow: 0px 2px 1px #fff;
} 

.link_comerc_btn:active{
	background: black;
	background-image: -webkit-linear-gradient(top, rgba(78,163,251,.8), rgba(3,97,153,.8));	
}


.detail_points{
	width: 85%;
	height: auto;
	min-height: 70px;
	position: relative;
	margin: 0 auto;
	margin-top: 35px;
}


.points_euro{
	width: 42%;
	height: auto;
	position: absolute;
	left: 7%;	
	text-align: center;
}

.points_total{
	width: 42%;
	height: auto;
	position: absolute;
	right: 7%;	
	text-align: center;
}

.points_label{
	font-size: 15px;
	font-weight: bold;
	color: #888;
	margin-bottom: 3px;
	text-shadow: 0 2px 1px rgba(255,255,255,1);

}

.points_num{
	font-size: 30px;
	font-weight: bold;
	color: #888;
	margin-bottom: 8px;
	text-shadow: 0 2px 1px rgba(255,255,255,1);
}


/*******************************************************************
MANAGEMENT
*******************************************************************/

.manage_box{
	width: 40%;
	height: 145px;
	position: relative;
	margin-left: 6%;
	margin-top: 15px;
	background: gray;
	background-image: -webkit-linear-gradient(top, rgb(250,250,250), rgb(235,235,235));
	box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	border: 1px solid #ccc;
	border-radius: 2px;
	float: left;
}

.manage_box:active{
	box-shadow: none;
	background-image: -webkit-linear-gradient(top, rgb(240,240,240), rgb(235,235,235));
}

.manage_box_categorie{
	width: auto;
	height: auto;
	position: absolute;
	right: 10px;
	bottom: 55px;
	font-size: 16px;
	font-weight: bold;
	color: #07659B;
	
}

.manage_box_num{
	width: auto;
	height: auto;
	position: absolute;
	right: 10px;
	bottom: 20px;
	font-size: 26px;
	font-weight: bold;
	
}

.manage_box_icon{
	width: 50px;
	height: 50px;
	position: absolute;
	background: url('../imgs/comun_icon_gasolia.png') no-repeat center center;
	background-size: contain;
	right: 10px;
	top: 10px;	
}

#manage_box_icon_1{
	background: url('../imgs/ropa.png')no-repeat center center;
}

#manage_box_icon_2{
	background: url('../imgs/alquiler.png')no-repeat center center;
}

#manage_box_icon_3{
	background: url('../imgs/gasolina.png')no-repeat center center;
}

#manage_box_icon_4{
	background: url('../imgs/restaurantes.png')no-repeat center center;
}

#manage_box_icon_5{
	background: url('../imgs/musica.png')no-repeat center center;
}
.margin_transparent{
	width: 100px;
	height: 30px;
	position: relative;
	margin: 0 auto;
	background: transparent;
	clear: both;
	padding-top: 10px;
	margin-bottom: 10px;
}


/*******************************************************************
MANAGE DETAIL
*******************************************************************/
#man_detail_view{
	background: #E6E5E5;
}

.man_detail_header { 
	width: 100%;
	height: 145px;
	position: relative;
	background: #E6E5E5;
	border-bottom: 2px solid #D9D8D8;
	clear: both;
} 

.man_det_head_box { 
	width: 84%;
	height: 105px;
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -42%;
	background-image: -webkit-linear-gradient(top, rgb(250,250,250), #dcdcdc);
	box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	border: 1px solid #ccc;
	border-radius: 2px;
} 

.man_det_box_icon { 
	width: 65px;
	height: 65px;
	position: absolute;
	background: transparent;
	top: 20px;
	left: 20px;
	background: url('../imgs/comun_icon_gasolia.png') no-repeat center center;
	background-size: contain;
} 

.man_det_box_title { 
	width: 75%;
	height: auto;
	position: absolute;
	right: 15px;
	top: 20px;
	color: #515252;
	text-align: right;
	font-size: 18px;
	font-weight: bold;

} 

.man_det_box_subtitle { 
	width:55%;
	height: auto;
	position: absolute;
	right: 15px;
	top: 41px;
	color: #268FD9;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	color: #07659B;
} 

.man_det_box_num{ 
	width: auto;
	height: auto;
	position: absolute;
	right: 10px;
	bottom: 14px;
	font-size: 26px;
	font-weight: bold;

} 

.man_detail_list{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	background: #E6E5E5;
	
	
}

.man_det_list_item{
	width: 100%;
	height: 85px;
	position: relative;
	background: transparent;
	border-bottom: 2px solid #D9D8D8;
	border-top: 1px solid rgba(255,255,255,.5);
}

.man_det_li_date { 
	width: 100px;
	height: auto;
	position: absolute;
	top: 10px;
	left: 7%;
	color: #767676;
	font-size: 14px;
	text-shadow: 0 1px 0px white;

} 

.man_det_li_name { 
	width: 200px;
	height: auto;
	position: absolute;
	bottom: 30px;
	left: 7%;
	color: #268FD9;
	font-size: 22px;
	font-weight: bold;
	text-shadow: 0 1px 0px white;

} 

.man_det_li_num { 
	width: 100px;
	height: auto;
	position: absolute;
	bottom: 30px;
	right: 7%;
	color: black;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0 1px 0px white;
	text-align: right;

} 

.man_det_li_points { 
	width: 100px;
	height: auto;
	position: absolute;
	bottom: 10px;
	right: 7%;
	color: #767676;
	font-size: 14px;
	text-shadow: 0 1px 0px white;
	text-align: right;

} 

/*******************************************************************
PROFILE
*******************************************************************/

.profile_view{
	background: #E6E5E5 ;
}

.profile_wrapper{
	width: 90%;
	height: auto;
	position: relative;
	margin: 0 auto;
	
}
.profile_cards{
	width: 100%;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
}

.pro_label{
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 5px;
	padding-left: 5px;
	font-size: 18px;
	font-weight: bold;
}

.pro_grouped_list{
	width: 100%;
	height: auto;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	border: 1px solid #ccc;
	margin-bottom: 25px;
}

.pro_list_item{
	width: 94%;
	height: 50px;
	position: relative;
	padding-left: 6%;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	color: #999;
	/*color: #268FD9;*/
}


.list_tick{
	width: 35px;
	height: 35px;
	background: url('../imgs/tick.png') no-repeat center center;
	background-size: contain;
	position: absolute;
	right: 10px;
	top: 8px;
	display: block; 
}


.pro_list_item:last-child{
	border:none;
}

.pro_points{
	width: 94%;
	height: 50px;
	position: relative;
	padding-left: 6%;
	line-height: 50px;
	border-radius: 3px;
	background: white;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	border: 1px solid #ccc;
	margin-bottom: 25px;
	color: #999;
}

.pro_points_num, .pro_list_item_num{
	width: auto;
	height:auto ;
	position: absolute;
	right: 4%;
	top: 0px;
	color: black;
	font-weight: bold;	
}

.pro_movement_item{
	width: 94%;
	height: 50px;
	position: relative;
	padding-left: 6%;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	color: #268FD9;
	font-weight: bold;
}


/*******************************************************************
RANKING
*******************************************************************/

.ranking_wrapper{
	width: 100%;
	height: auto;
	position: relative;
}

.ranking_list_item{
	width: 92%;
	height: 50px;
	position: relative;
	border-bottom: 2px solid #D9D8D8;
	border-top: 1px solid rgba(255,255,255,.5);
	padding-left: 8%;
}



.ranking_name{
	width: 60%;
	height: auto;
	position: relative;
	line-height: 50px;
	color: #777;
}

.ranking_points{
	width: auto;
	height: auto;
	position: absolute;
	line-height: 50px;
	right: 5%;
	top: 0;
	color: #555;
}


#ranking_1, #ranking_2, #ranking_3{
	width: 88%;
	height: 50px;
	position: relative;
	border-bottom: 2px solid #D9D8D8;
	border-top: 1px solid rgba(255,255,255,.5);
	padding-left: 12%;
	font-weight: bold;
}

#ranking_1{
	background: #dadada;
}

#ranking_2{
	background: #dcdcdc;
}

#ranking_3{
	background: #dfdfdf;
}
#ranking_1 .ranking_name, #ranking_2 .ranking_name, #ranking_3 .ranking_name{
	color: black;
}

.ranking_icon_1, .ranking_icon_2, .ranking_icon_3{
	width: 35px;
	height: 35px;
	position: absolute;
	background: transparent;
	left: 5px;
	top: 7px;
}

.ranking_icon_1{
	background: url('../imgs/gold.png') no-repeat center center;
	background-size: contain;
}

.ranking_icon_2{
	background: url('../imgs/silver.png') no-repeat center center;
	background-size: contain;
}
.ranking_icon_3{
	background: url('../imgs/bronze.png') no-repeat center center;
	background-size: contain;
}


#ranking_list_user .ranking_name, #ranking_list_user .ranking_points{
	color: #268FD9;	
}

.ranking_user_icon{
	width: 22px;
	height: 22px;
	position: absolute;
	background: transparent url('../imgs/rank_user_icon.png') no-repeat center center;
	background-size: contain;
	left: 4px;
	top: 13px;
}

/*******************************************************************
LOGIN
*******************************************************************/

.login_logo img{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75px;
	height: 75px;
	
}

.login_form_username, .login_form_pass{
	width: 70%;
	height: 40px;
	margin-bottom: 10px;
	background: #DBDBDB;
	border-radius: 3px;
	border: 1px solid #BBBBBB;
	box-shadow: 0px 2px 0px #fff, inset 1px 1px 1px #BDBDBD;
	padding-left: 2%;
}

.login_form_username:focus, .login_form_pass:focus{
	background: #ededed;
}

.login_form_submit{
	width: 60%;
	height: 45px;
	position: relative;
	margin: 0 auto;
	margin-top: 8px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,.5);
	text-align: center;
	line-height: 40px;
	border: 1px solid rgba(1, 3, 50, .45);
	border-radius: 5px;
	background-image: -webkit-linear-gradient(top, rgb(78,163,251), rgb(3,97,153));
	box-shadow: 0px 2px 1px #fff;
}

.login_form_submit:active{
	background: black;
	background-image: -webkit-linear-gradient(top, rgba(78,163,251,.8), rgba(3,97,153,.8));
	
}


/*******************************************************************
PAYMENTS
*******************************************************************/

@-webkit-keyframes payment {
	0% { opacity: 0; margin-top: -30px;
	}
	100% { opacity: 1; margin-top: 0;
	}
}


.pay_wrapper { 
	width: 100%;
	height: 100%;
	position: relative;
	background: transparent;

} 

.pay_logo { 
	width: 300px;
	height: auto;
	min-height: 260px;
	position: relative;
	margin: 0 auto;
	background: url('../imgs/icon_lacaixa.png') no-repeat center bottom;
	background-size: 70%;
} 

.pay_info { 
	width: 76%;
	height: 220px;
	position: absolute;
	background: white;
	display: hidden;
	left: 50%;
	margin-left: -38%;
	top: 50px;
	text-align: center;
	line-height: 15px;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	-webkit-animation: payment 0.5s ease-in-out;
	
} 


.pay_label{
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	background-image: -webkit-linear-gradient(top, rgb(250,250,250), rgb(230,230,230));
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

.pay_number{
	line-height: 180px;
	font-size: 70px;
}

.pay_loader { 
	width: 75%;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	

} 

.pay_btns { 
	width: 75%;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-top: 55px;

} 

.pay_cancel { 
	width: 40%;
	height: 50px;
	position: absolute;
	left: 5%;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,.5);
	text-align: center;
	line-height: 50px;
	border: 1px solid rgba(20, 20, 20, .45);
	border-radius: 5px;
	background: black;
	background-image: -webkit-linear-gradient(top, rgb(130,130,130), rgb(90,90,90));
	box-shadow: 0px 2px 1px #fff;

} 

.pay_cancel:active{
	background-image: -webkit-linear-gradient(top, rgba(130,130,130,.7), rgba(90,90,90,.7));
}

.pay_accept { 
	width: 40%;
	height: 50px;
	position: absolute;
	right: 5% ;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,.5);
	text-align: center;
	line-height: 50px;
	border: 1px solid rgba(1, 3, 50, .45);
	border-radius: 5px;
	background: black;
	background-image: -webkit-linear-gradient(top, rgb(78,163,251), rgb(3,97,153));
	box-shadow: 0px 2px 1px #fff;

} 
.pay_accept:active{
	background-image: -webkit-linear-gradient(top, rgba(78,163,251,.7), rgba(3,97,153,.7));
}



.tags_wrapper{
	width: 90%;
	height: auto;
	position: relative;
	margin: 0 auto;
	padding-top: 40px;
}


.tags_list{
	width: 100%;
	height: auto;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	border: 1px solid #ccc;
	margin-bottom: 25px;

}


.tags_list_item{
	width: 84%;
	height: 50px;
	position: relative;
	padding-left: 16%;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	color: #999;
	/*color: #268FD9;*/
	
}

#gasolina_tag{
	color: #268FD9;
}

.tags_add{
	width: 84%;
	height: 50px;
	position: relative;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	border: 1px solid #ccc;
	margin-bottom: 25px;
	padding-left: 16%;
	line-height: 50px;
	color: #999;
	
}

.tags_save_btn{
	width: 60%;
	height: 45px;
	position: relative;
	margin: 0 auto;
	margin-top: 8px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,.5);
	text-align: center;
	line-height: 45px;
	border: 1px solid rgba(1, 3, 50, .45);
	border-radius: 5px;
	background: black;
	background-image: -webkit-linear-gradient(top, rgb(78,163,251), rgb(3,97,153));
	box-shadow: 0px 2px 1px #fff;
	
}

.tags_save_btn:active{
	background-image: -webkit-linear-gradient(top, rgba(78,163,251,.7), rgba(3,97,153,.7));
}


.tag_icon{
	width: 35px;
	height: 35px;
	position: absolute;
	background: red;
	background-size: contain;
	left: 5px;
	top: 8px;
}

#gas{
	background: url('../imgs/gasolina.png') no-repeat center center;
}

#rop{
	background: url('../imgs/ropa.png') no-repeat center center;
}

#mus{
	background: url('../imgs/musica.png') no-repeat center center;
}

#res{
	background: url('../imgs/restaurantes.png') no-repeat center center;
}

#alq{
	background: url('../imgs/alquiler.png') no-repeat center center;
}

.more_icon{
	width: 35px;
	height: 35px;
	background-size: contain;
	position: absolute;
	right: 10px;
	top: 8px;
	display: block;
	background: url('../imgs/more_btn.png') no-repeat center center;	
}


