@charset "UTF-8";
/* CSS Document */

*{
	/*Removes Android 4.0+ blue selection*/
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	/*Removes Android 2.3.6- border selection*/
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	height: auto;
	font-family: helvetica, arial, sans-serif;
}

html {
	height: 100%;
} 

body { 
	margin: 0;
	padding: 0;
	background: #fff;
	height: 100%;
} 


li{
	list-style: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

label{
	display:none;
}

fieldset{
	border:none;
}

/*******************************************************************
CUSTOM FONTS
*******************************************************************/

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/*******************************************************************
LAYOUT
*******************************************************************/

div { 
	margin: 0;
	padding: 0;
	display: block;
}

.mb_page{
	margin : 0;
	padding : 0;
	display : none;
	width : 100%;
	height: 100%;
	display : block;
}

/*******************************************************************
COMERC
*******************************************************************/


.near_list{
	width: 100%;
	height: auto;
	
}

.near_list_element{
	width: 100%;
	height: 76px;
	position: relative;
	border-bottom: 1px solid rgb(220,220,245);
	border-top: 1px solid rgb(250,250,255);
}
.near_list_element:nth-child(odd){
	background: rgb(245,245,255);
}

.near_list_element:nth-child(even){
	background: rgb(250,250,255);
}

.near_li_img { 
	width: 54px;
	height: 54px;
	position: absolute;
	left: 12px;
	top: 8px;
	border-radius: 4px;
	border: 3px solid #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,.1);

} 

.near_li_img img{
	width: 54px;
	height: 54px;
	border-radius: 4px;
}

.near_li_name { 
	min-width: 60%;
	max-width: 70%;
	height: auto;
	position: absolute;
	left: 85px;
	top: 12px;
	font-size:19px;
	font-weight: bold;

} 

.near_li_description { 
	width: 65%;
	height: auto;
	position: absolute;
	left: 85px;
	top: 43px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 15px;
	font-weight: normal;

} 

.near_li_distance { 
	width: 12%;
	height: auto;
	position: absolute;
	right: 10px;
	top: 43px;
	text-align: right;
	font-size: 14px;
} 

/*******************************************************************
COMERC DETAIL
*******************************************************************/
.near_detail { 
	width: 100%;
	height: auto;

} 

.detail_img { 
	width: 100%;
	height: 150px;
	position: relative;
	background: url('../imgs/detail_header.png') no-repeat center center;
	background-size: 100%;
	position: relative;
	z-index: 4;
} 
.detail_img::before { 
	content: '';
	width: 100%;
	height: 150px;
	position: relative;
	background: black;
	position: fixed;
	z-index: 1;
	opacity: .4;
} 

.detail_logo { 
	width: 200px;
	height: auto;
	position: absolute;
	background: transparent;
	left: 50%;
	top: 30px;
	margin-left: -100px;
	text-align: center;
	z-index: 2;
	
} 

.detail_logo_img { 
	width: 70px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	border-radius: 4px;
	border: 3px solid #fff;
	box-shadow: 0px 1px 7px rgba(0,0,0,1);
	margin-bottom: 8px;

} 

.detail_logo_img img { 
	width: 70px;
	height: 70px;
} 

.detail_logo_name { 
	width: auto;
	height: auto;
	color: white;
	font-size: 15pt;
	text-shadow: 0px 1px 7px rgba(0,0,0,.8);
} 

.detail_location { 


} 

.detail_location_map { 


} 

.detail_location_adress { 


} 

.link_comerc_btn { 


} 

/*******************************************************************
MANAGEMENT
*******************************************************************/


/*******************************************************************
PROFILE
*******************************************************************/

/*******************************************************************
RANKING
*******************************************************************/