@charset "UTF-8";
/* CSS Document */

*{
	/*Removes Android 4.0+ blue selection*/
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	/*Removes Android 2.3.6- border selection*/
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	height: auto;
}

html {
	height: 100%;
} 

body { 
	margin: 0;
	padding: 0;
	background: #fff;
	height: 100%;
} 


li{
	list-style: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

label{
	display:none;
}

fieldset{
	border:none;
}

/*******************************************************************
CUSTOM FONTS
*******************************************************************/

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/*******************************************************************
LAYOUT
*******************************************************************/

div { 
	margin: 0;
	padding: 0;
	display: block;
}

.mb_page{
	margin : 0;
	padding : 0;
	display : none;
	width : 100%;
	height: 100%;
	display : block;
}

#loading{
	width: 100px;
	height: 100px;
	background: rgba(0,0,0,.8);
	z-index: 1000;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -50px;
	z-index: 910;
}

.loading_img_container{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	margin: auto;
	margin-top: 35px;
}
.loading_img_container img{
	width: auto;
	height: auto;
}

.loading_blocker{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.3);
	z-index: 900;
}

.bg_gray{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #2F2F2F;
}
	
/*******************************************************************
Banking Operations
*******************************************************************/

.login_content{
	width: 90%;
	height: auto;
	position: relative;
	margin: 0 auto;
}

.login_form_logo{	
	width: 193px;
	height: 48px;	
	padding-top: 20px;
}

.login_form_username_wrapper{
	position: relative;
}

.login_form_username, .login_form_pass{
	width: 215px;
	height: 44px;
	max-height: 44px;
	position: relative;
	margin: 0;
	color: rgb(41,86,129);
	font-size: 14px;	
	border: none;
	background: url(../imgs/opertativa_bancaria_box_login@2x.png) center center no-repeat;
	background: rgb(247,247,247);
	border: 1px solid rgb(201,201,201);
	border-radius: 5px;
	box-shadow:inset 1px 1px 1px rgba(190,190,190,.5);
	background-size: contain;
	display: block;
	padding-left: 20px;
	padding-right: 50px;
}

.login_form_pass{
	margin-top: 20px;
}

.login_form_username:focus{
	outline: none;
	-webkit-user-modify: read-write-plaintext-only;
}

.login_form_pass:focus{
	outline: none;
	-webkit-user-modify: read-write-plaintext-only;
}

.login_form_submit{
	width: 150px;
	height: 40px;
	position: relative;
	margin: 0;
	margin-top: 20px;
	text-align: center;
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	background: url(../imgs/operativa_bancaria_btn_aceptar@2x.png) center center no-repeat;
}

.login_form_submit:active{
	background: url(../imgs/operativa_bancaria_btn_aceptar@2x.png) center center no-repeat;
}

.textfield_user_clear_button, .textfield_pass_clear_button {
	width: 23px;
	height: 22px;
	position: absolute;
	background: url(../imgs/operativa_bancaria_icon_cruz@2x.png) center center no-repeat;
	background-size: contain;
	z-index: 6;
	top:13px;
	right: 5px;
}



.form_wrapper{
	background: white;
	width: auto;
	max-width: 280px;
	height: auto;
	position: relative;
	margin: 0 auto;
}

/*******************************************************************
Offices
*******************************************************************/

.office_page {
	padding-bottom: 25px;
}

.officeName {
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
	color: rgb(54,111,165);
}

.officeDescription {
	padding-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	font-size: 13px;
	color: rgb(136,143,150);
}

.officeCommonTitle {
	padding: 8px 0px;
	font-size: 13px;
	color: rgb(54,111,165);
}

.officeCommonDescription {
	padding-top: 6px;
	font-size: 14px;
	color: rgb(154,157,160);
}

.officeShceduleDescription {
	font-size: 13px;
}

.schedule_name {
	color: rgb(88,88,88);
}

.schedule_description {
	color: rgb(154,157,160);
}

.office_bloc_container {
	position: relative;
	padding: 0px 15px;
}

.office_bloc_line {
	width: 100%;
	margin: 0 auto;
	padding-top: 40px;
	background: url(../imgs/oficinas_line@2x.png) center center repeat-x;
}

.office_bloc_icon {
	background-size: contain;
}

.office_map_image {
	width: 267px;
	height: 161px;
	margin: 25px auto;
	position: relative;
}

.office_map_mark {
	width: 312px;
	height: 207px;
	position: absolute;
	top: -25px;
	left: -23px;
	background: url(../imgs/oficinas_marco_mapa@2x.png) center center no-repeat;
	background-size: contain;
}

.office_phone_ahref {
	text-decoration: none;
}

.office_mail_ahref {
	text-decoration: none;
}

.office_map_ahref {
	text-decoration: none;
}

/*******************************************************************
Contacts
*******************************************************************/

.contact_title_background {
	width: auto;
	height: auto;
	background-color: rgb(34,71,117);
}

.contact_title {
	padding: 6px 15px;
	color: white;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.area_bloc_container {
	position: relative;
	padding: 0px 15px;
}

.area_title_background {
	width: auto;
	height: auto;
	margin-bottom: 5px;
	background: rgb(188,189,189);
	box-shadow: 0px 1px -1px 1px rgb(120,120,120);
}

.area_title {
	padding: 6px 30px;
	font-size: 14px;
	color: rgb(70,70,70);
	overflow: hidden;
	text-overflow: ellipsis;
}

.area_bloc_icon {
	background-size: contain;
}

.area_bloc_text {
	overflow: hidden;
	text-overflow: ellipsis;
}

.area_bloc_text_name {
	color:rgb(54,111,165);
}

.area_bloc_text_description {
	color: rgb(70,70,70);
	max-width: 80%;
}

.area_bloc_line {
	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
	background: url(../imgs/oficinas_line@2x.png) center center repeat-x;
}

.area_bloc_phone_ahref {
	text-decoration: none;
}

.area_bloc_fax_ahref {
	text-decoration: none;
}

.area_bloc_email_ahref {
	text-decoration: none;
}

.area_bloc_direction_ahref {
	text-decoration: none;
}

/*******************************************************************
Public Web
*******************************************************************/

.public_web_text {
	text-align: center;
	color: rgb(54,111,165);
	font-size: 14px;
}

/*******************************************************************
Disclaimer
*******************************************************************/

.disclaimer_page {
	padding: 5px 0px;
}

.disclaimer_wrapper {
	padding: 10px 15px;
}

.disclaimer_bloc_ahref {
	text-decoration: none;
}

.disclaimer_bloc_line {
	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
	background: url(../imgs/oficinas_line@2x.png) center center repeat-x;
}

.disclaimer_title {
	color: rgb(53,111,165);
	font-size: 14px;
}

.disclaimer_detail_wrapper {
	padding: 0px 15px 20px 15px;
}

.disclaimer_detail_title {
	padding: 30px 0px 5px 0px;
	color: rgb(53,111,165);
	font-size: 14px;
}

.disclaimer_detail_description {
	font-size: 13px;
	color: rgb(94,94,94);
}